<!DOCTYPE html>
<html>
<body>
<h1>Welcome to Makersbnb, <%= @user.name%> !</h1>
<div>
  <p>
    Your email is <%= @user.email%>
  </p>
  <p>
    Your password is <%= @user.password%>
  </p>
</div>



<form action='/profile/listspace/<%= @user.id %>' method='get'>
<input type='submit' value='Add Space'>
</form>

<h3>Host Spaces</h3>
<p>
<% @spaces.each do |space| %>
<ul>
  <li><%= space.name %></li>
  <li><%= space.description %></li>
  <li><%= space.price %></li>
</ul>
<% end %>

</p>
<center>
  <form action='/' method='get'>
  <input type='submit' value='Log out'>
  </form>
</center>

</html>
</body>
